Repository Gooroom-Study-Gigigit/INTIP-refactoring, pull requests merged in 2025-01, with the labels that each got.

#36 refactor, test: 코드 가독성 개선, 테스트 코드 작성
  .gitignore
  build.gradle
  src/main/java/kr/inuappcenterportal/inuportal/domain/post/service/PostCommonService.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/post/service/PostService.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/controller/ReplyController.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/model/Reply.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/repository/ReplyRepository.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/service/ReplyCommandService.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/service/ReplyLikeService.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/service/ReplyQueryService.java
  src/main/java/kr/inuappcenterportal/inuportal/global/config/MySqlConfig.java
  src/main/java/kr/inuappcenterportal/inuportal/global/service/RedisService.java
  src/main/resources/hi.txt
  src/test/java/kr/inuappcenterportal/inuportal/controller/ReplyControllerTest.java
  src/test/java/kr/inuappcenterportal/inuportal/custom/WithMockCustom.java
  src/test/java/kr/inuappcenterportal/inuportal/repository/ReplyLikeRepositoryTest.java
  src/test/java/kr/inuappcenterportal/inuportal/repository/ReplyRepositoryTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/LikeReplyConcurrencyTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/ReplyCommandServiceTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/ReplyLikeServiceTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/ReplyQueryServiceTest.java
  src/test/resources/init_test.sql
Labels: feat, test

#42 test: MemberController 테스트 작성
  src/test/java/kr/inuappcenterportal/inuportal/controller/MemberControllerTest.java
  src/test/java/kr/inuappcenterportal/inuportal/domain/member/controller/MemberControllerTest.java
Labels: test

#45 test: replyRepsitory 테스트 코드 작성
  .gitignore
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/repository/ReplyRepository.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/service/ReplyCommandService.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/service/ReplyLikeService.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/reply/service/ReplyQueryService.java
  src/main/java/kr/inuappcenterportal/inuportal/domain/replylike/repository/ReplyLikeRepository.java
  src/test/java/kr/inuappcenterportal/inuportal/controller/ReplyControllerTest.java
  src/test/java/kr/inuappcenterportal/inuportal/repository/ReplyLikeRepositoryTest.java
  src/test/java/kr/inuappcenterportal/inuportal/repository/ReplyRepositoryTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/LikeReplyConcurrencyTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/ReplyCommandServiceTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/ReplyLikeServiceTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/ReplyQueryServiceTest.java
  src/test/java/kr/inuappcenterportal/inuportal/util/MockCustomUserSecurityContextFactory.java
  src/test/java/kr/inuappcenterportal/inuportal/util/TestReflectionUtil.java
  src/test/java/kr/inuappcenterportal/inuportal/util/WithMockCustom.java
  src/test/resources/init_test.sql
Labels: test

#48 feat: 에러 모니터링 추가
  build.gradle
Labels: feat

#50 refactor: MemberControllerTest,MemberServiceTest 삭제, 추상 테스트 클래스 상속
  src/test/java/kr/inuappcenterportal/inuportal/controller/MemberControllerTest.java
  src/test/java/kr/inuappcenterportal/inuportal/repository/ReplyLikeRepositoryTest.java
  src/test/java/kr/inuappcenterportal/inuportal/repository/ReplyRepositoryTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/LikeReplyConcurrencyTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/MemberServiceTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/ReplyLikeConcurrencyTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/ReplyQueryServiceTest.java
Labels: refactor

#51 test: memberController 테스트 추가
  src/test/java/kr/inuappcenterportal/inuportal/controller/MemberControllerTest.java
  src/test/java/kr/inuappcenterportal/inuportal/domain/member/controller/MemberControllerTest.java
  src/test/java/kr/inuappcenterportal/inuportal/service/MemberServiceSpringTest.java
  src/test/java/kr/inuappcenterportal/inuportal/util/fixture/MemberFixture.java
Labels: test
